<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Tring.Fiscal.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup/>
 <userSettings>
  <Tring.Fiscal.Server.Properties.Settings>
   <setting name="VrstaUredjaja" serializeAs="String">
    <value>TringUsbPrinter</value>
   </setting>
    <setting name="VrstaDispleja" serializeAs="String">
      <value>Integriran</value>
    </setting>
   <setting name="ComPort" serializeAs="String">
    <value>COM3</value>
   </setting>
   <setting name="IBFM" serializeAs="String">
    <value>AM000001</value>
   </setting>
   <setting name="IOSA" serializeAs="String">
    <value>0000000000000000</value>
   </setting>
   <setting name="IPMask" serializeAs="String">
    <value>255.255.255.0</value>
   </setting>
   <setting name="TrenutniZahtjev" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="TrenutniZahtjevSaRacunara" serializeAs="String">
    <value>TRING</value>
   </setting>
   <setting name="IPPort" serializeAs="String">
    <value>8085</value>
   </setting>
   <setting name="KomandTimeOut" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="ZadnjaKomanda" serializeAs="String">
    <value />
   </setting>
   <setting name="KorisnickiSoftver" serializeAs="String">
    <value>Nepoznat</value>
   </setting>
   <setting name="XMLPutanjaKomandi" serializeAs="String">
    <value>C:\tring\xml</value>
   </setting>
   <setting name="XMLTimer" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="Encoding" serializeAs="String">
    <value>UTF-8</value>
   </setting>
   <setting name="Rezim" serializeAs="String">
    <value>Veleprodaja</value>
   </setting>
   <setting name="Emulator" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutomatskoLogiranje" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="KoristitiIskljucivoBazuArtikalaSaUredjaja" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SprematiLogove" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IPAdresa" serializeAs="String">
    <value>192.168.10.20</value>
   </setting>
   <setting name="IPGateway" serializeAs="String">
    <value>192.168.10.200</value>
   </setting>
   <setting name="KoristiTringFiscalZaMenadzmentBazeArtikala" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DodatiSufixNaOdgovore" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PauzaPriSlanjuKomandi" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="ZadnjiPLU" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ValidacijaArtikalaPrijeProdaje" serializeAs="String">
    <value>False</value>
   </setting>
    <setting name="VrsteKomandi" serializeAs="String">
      <value>Tring</value>
    </setting>
  </Tring.Fiscal.Server.Properties.Settings>
 </userSettings>
</configuration>
